body {
  position: relative;
  margin: 10px;
}
#info {
  position: fixed;
  top: 10px;
  right: 10px;
}
.car {
  border: 1px solid #cacaca;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 7.5px;
  height: 2px;
}
.car span {
  padding-right: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 13px;
  white-space: nowrap;
}
.car em {
  padding-right: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 13px;
  white-space: nowrap;
  font-style: normal;
}
.line {
  background: #ddd;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
}
#btn {
  color: red;
  padding-left: 20px;
  cursor: pointer;
  font-size: 20px;
}
#container {
  position: relative;
}
#form {

}
#form label {
  margin-top: 8px;
  display: inline-block;
  width: 150px;
}
#form button {
  margin-top: 8px;
}